<% if @item.errors.any? %>
  <h4> <%= @item.errors.count %> Errors Saving The Item.</h4>
  <% @item.errors.full_messages.each do |message| %>
    <h6 class='text-danger'> <%= message %> </h6>
    <% end %>
<% end %>
<%= form_for @item, html: { class: 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :make, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, required: true, class: 'form-control', placeholder: 'Item Name' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :model, required: true, class: 'form-control', placeholder: 'Item Price' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :color, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :description, required: true, class: 'form-control', placeholder: 'Item Description' %>
    </div>
  </div>
  <div class='text-center'>
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
