<h1> Item List </h1>

<% if @items.any? %>
      <table class="table table.hover">
          <tr>
              <th> Item Name </th>
              <th> Item Cost </th>
          </tr>
          <% @items.each do |item| %>
          <tr>
              <td> <%= item.name %> </td>
              <td> <%= item.price %> </td>
              <td><%= link_to 'Show', category_item_path(@category, item), class: 'btn btn-primary' %></td>
              <td><%= link_to 'Edit', edit_category_item_path(@category, item), class: 'btn btn-warning' %></td>
              <td><%= link_to 'Delete',
                    category_item_path(@category, item),
                    class: 'btn btn-danger',
                    data: { confirm: 'Really Delete?'},
                    method: :delete %></td>
          </tr>
          <% end %>
      </table>


<% else %>
  <h3>No Items Found, Please Create One!</h3>
<% end %>

<%= link_to 'Create New Item', new_category_item_path(@category), class: 'btn btn-primary' %>




<%#<h1> <%= category_item.name %>
<hr />
