<h1> <%= @category.name %> </h1>

<% if @items.any? %>
      <table class="table table.hover">
          <tr>
              <th> Item Name </th>
              <th> Item Cost </th>
          </tr>
          <% @items.each do |item| %>
          <tr>
              <td> <%= item.name %> </td>
              <td> $<%= item.price %> </td>
              <td><%= link_to 'View Item', category_item_path(@category, item), class: 'btn btn-primary' %></td>
              <% if current_user.admin == true %>
              <td><%= link_to 'Edit Item', edit_category_item_path(@category, item), class: 'btn btn-warning' %></td>
              <td><%= link_to 'Delete Item',
                    category_item_path(@category, item),
                    class: 'btn btn-danger',
                    data: { confirm: 'Really Delete?'},
                    method: :delete %></td>
              <% end %>
          </tr>
          <% end %>
      </table>


<% else %>
  <h3>No Items Found, Please Create One!</h3>
<% end %>

<div class='col-md-6'>
  <%= link_to 'Go Back To Categories', categories_path, class: 'btn btn-primary backButton' %>
</div>
<div class='col-md-6 text-right'>
  <%= link_to 'Create New Item', new_category_item_path(@category), class: 'btn btn-primary backButton' %>
</div>

<hr />
