<div class='text-right'>
  <%= link_to 'List of Items', category_items_path, class: 'btn btn-primary backButton' %>
</div>
<h1> <%= @item.name%> </h1>
<hr class="itemShowHR">

<div class='itemBackground'>
  <div class='col-md-6'>
    <div>
      <h4>Price: $<%= @item.price %></h4>
    </div>
      <br />
  </div>
  <div class='col-md-6'>
    <div>
      <h4>Description:</h4>
      <div>
        <%= @item.description %>
      </div>
    </div>
  </div>
</div>
<hr class='itemShowHR bigHR'>

<div class='text-center'>
<%= link_to  "Add Item to Shopping Cart", shopping_cart_item_add_item_path(@shopping_cart, @item, @category), class: 'btn btn-primary backButton', method: :patch %>
</div>
<br />

<div class='text-left col-md-6'>
  <h2>Reviews:</h2>
  <hr />
  There are no reviews for this item yet. Be the first!
  
</div>
